SHIELDED_STOCK_RELEASE_DIR=../files/shielded-stock-release/REPLACE_WITH_RELEASE_FINGERPRINT
SHIELDED_STOCK_RELEASE_FINGERPRINT=REPLACE_WITH_VERIFIED_64_HEX_RELEASE_FINGERPRINT
SHIELDED_STOCK_ALLOW_DEV_SETUP=true
